.mainContainer {
  z-index: 20;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 30px 30px 30px 30px;
  font-size: 18px;
  right: 50px;
  width: 600px;
  height: 600px;
  overflow-y: scroll;
}

.scroll {
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 1px 10px 3px #1e90ff9e;
  margin-top: 0px;
}

.choiceContainer {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
}

.choiceButton {
  outline: none;
  border: none;
  padding: 5px 10px 5px 10px;
  margin: 5px;
  border-radius: 10px;
  text-align: center;
  background-color: #1e90ff9e;
  color: white;
  border-color: white;
  cursor: pointer;
}

.choiceButton[disabled] {
  cursor: default;
}

.digiSpeechContainer {
  display: flex;
  flex-direction: column;
  background-color: #e9ecef;
  border-radius: 15px;
  padding: 10px;
}

.digiContainer {
  display: flex;
  align-items: center;
  padding: 15px;
  max-width: 90%;
}

.digiImageContainer {
  margin-right: 12px;
  width: 60px;
}

.digiImageContainer img {
  border-radius: 100px;
  height: 60px;
  width: 60px;
}

.userImage {
  border-radius: 15px;
  justify-self: end;
  background-attachment: fixed;
  margin-right: 12px;
  margin-left: 12px;
}

.userFaceContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.textContainer {
  background-color: red;
  background-color: #faf4ef;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.lower {
  height: 10vh;
  width: 100%;
  display: flex;
  padding-top: 5px;
  background-color: #edf6f9;
  z-index: 200;
  display: flex;
  flex-direction: column;
}
.recordInterface {
  display: grid;
  place-items: center;
  height: 60%;
}

.helpText {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}
