.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("/main_bg.jpeg") no-repeat;
  background-size: 100% 100%;
  align-items: center;
}

.upper {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    width: 100%; 
    height: 93vh;
}

.contentContainer {
    position: relative;
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.digiContainer {
    position: relative;
    height: 100%;
}

.video {
    position: absolute;
    left: -80px; 
    bottom: 0px;
}

.sidePanel {
    display: grid; 
    grid-template-rows: 1fr 1fr;
}

.imgContainer { 
    display: grid; 
    place-items: center;
}

.chatInterface { 
    display: grid; 
    place-items: center;
}

.lower {
    height: 7vh;
    width: 100%;
    display: flex; 
    border-top-left-radius: 30px; 
    border-top-right-radius: 30px; 
    background-color: #edeff2;
    z-index: 200;
    display: flex;
    flex-direction: column;

}

.recordInterface { 
    display: grid; 
    place-items:center;
    height: 60%;
}

.helpText {
    text-align: center;
    font-size: 18px; 
    font-weight: 600;

}
/* .doctorContainer { 
    display: flex;
    flex-direction: row; 
    justify-content: center;;
} */
