.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("/main_bg.jpeg") no-repeat;
  background-size: 100% 100%;
  align-items: center;
  font-family: Avenir;
}

.upper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
}

.contentContainer {
  position: relative;
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.digiContainer {
  position: relative;
  height: 100%;
  z-index: 1;
}

.video {
  position: absolute;
  left: -80px;
  bottom: 0px;
}

.sidePanel {
  display: grid;
  z-index: 100;
}

.imgContainer {
  display: grid;
  place-items: center;
}

.chatInterface {
  display: grid;
  place-items: center;
}

/* .doctorContainer { 
    display: flex;
    flex-direction: row; 
    justify-content: center;;
} */
